@media only screen and (min-width: 920px) {
  #navigation nav {
    background: transparent;
  }
}
#navigation .iconic li picture{
  display: none;
}
@media only screen and (min-width: 580px) {
  #navigation .iconic li picture{
    display: block;
  }
}
/* Main menu at larger screens */
@media only screen and (min-width: 767px) {
  #navigation {
    background: rgba(255, 255, 255, 0.75);
    z-index: 201;
  }
    #navigation nav,
    #navigation nav > ul{
    max-width: 1140px;
  }
}