@media only screen and (min-width: 767px) {
  section.destinations {
    background: #eee;
    height: 530px;
    margin: 50px auto 0;
    max-width: 100%;
  }
  .destinations .const {
    margin: 0 auto;
    max-width: 1140px;
    padding-left: 20px;
  }
}

 
/*///////////////////////////////////////////////
  STORY TELLING ITINERARY TABS
///////////////////////////////////////////////*/
 
#tabs-story.ui-widget-content {
  border:0px solid #aaaaaa;
  background: #ffffff;
  color: #333;
  font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
#tabs-story.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 0;
  background: none;
}
#tabs-story .field-collection-view {
  padding: 0;
  margin: 0;
  border-bottom: 0px dotted #D3D7D9;
}
.progressbar{
  display: block;
  width: 100%;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}
.progressbar span{
  border-bottom: 5px solid;
  border-color: #CCCCCC;
  display: block;
  font-size: 0;
  height: 85px;
  background: #FFF;
  background-position: 0 0;
  position: relative;
  width: 100%;
}
.progressbar span:after{
  border-bottom: 5px solid #CCCCCC;
  content: '';
  width: 50%;
  position: absolute;
  top: 80px;
  right:0;
}
.progressbar span.tabs-1,
.progressbar span.active-tab,
.progressbar span.active-tab-past{
  border-color: #10a1cc;
}
.progressbar span.tabs-1:before,
.progressbar span.active-tab:before{
  background-color: transparent;
  background-image: url("../images/marker-itinerary.png");
  background-repeat: no-repeat;
  background-position: center 0;
  content: '';
  width: 100%;
  position: absolute;
  z-index: 8;
  height: 81px;
  top: 6px;
}
.progressbar span:first-child:after{
  width: 90%;
  width: calc(100% - 33px);
}
.progressbar span:last-child:after{
  width: 0%;
}
.progressbar span:first-child:before{
  background-position: 0 0;
}
.progressbar span:last-child:before{
  background-position: right 0;
}
.progressbar span.tabs-1.active-tab-past:before,
.progressbar span.active-tab.active-tab-past:before{
  background-image: none;
}
.progressbar span.ui-state-active:before,
.progressbar span.active-tab:before,
.progressbar span.active-tab-past:before{
  border-color:#10a1cc;
}
.progressbar span.active-tab-past:after,
.progressbar span.active-tab.active-tab-past:after{
  border-color:#10a1cc;
}
.progressbar span.active-tab:after{
  border-color:#CCC;
}
#tabs-story .ui-widget-header {
  border: 0px solid #aaaaaa;
  background: #FFFFFF;
  color: #333;
  font-weight: bold;
  padding: 0;
  text-align: left;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  border-radius: 0;
}
#tabs-story.ui-tabs .ui-tabs-nav li {
  list-style: none;
  float: none;
  top: 0;
  margin: 0;
  border-bottom-width: 0;
  padding: 0;
  border-radius: 0;
}
 
#tabs-story .ui-helper-clearfix::before,
#tabs-story .ui-helper-clearfix::after {
  display: none;
}
#tabs-story.ui-tabs .ui-tabs-nav li a{
  padding: 0;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  color:#CCC;
  font-family: 'Oswald', sans-serif;
}
 
#tabs-story.ui-tabs .ui-tabs-nav li.ui-state-active a,
#tabs-story.ui-tabs .ui-tabs-nav li.active-tab a,
#tabs-story.ui-tabs .ui-tabs-nav li.active-tab-past a{
  color:#10a1cc;
}
#tabs-story .day-content{
  font-size: 3.5rem;
  color: #10a1cc;
  padding-top: 30px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
 
}
 
#tabs-story .depart-content,
#tabs-story .arrive-content{
  font-size: 1.6rem;
 
}
@media only screen and (min-width: 600px) {
  #tabs-story.ui-tabs .ui-tabs-nav li a{
    font-size: 2.5rem;
  }
  #tabs-story .day-content{
    font-size: 4.5rem;
    padding-top: 50px;
    margin-bottom: 10px;
  }
  #tabs-story .depart-content,
  #tabs-story .arrive-content{
    font-size: 2rem;
 
  }
}
#tabs-story .depart-content .label-inline,
#tabs-story .arrive-content .label-inline{
  font-weight: 700;
  display: inline-block;
  width: 140px;
}
#tabs-story .depart-content .label-inline:before,
#tabs-story .arrive-content .label-inline:before{
  font-family: FontAwesome;
  padding-right: 10px;
}
#tabs-story .depart-content .label-inline:before{
  content:'\f144';
}
#tabs-story .arrive-content .label-inline:before{
  content:'\f28b';
}
#tabs-story .field-collection-container{
  margin-top: 30px;
 
}
@media only screen and (min-width: 768px) {
  #tabs-story .field-collection-container{
    margin-top: 60px;
 
  }
}
@media only screen and (min-width: 1200px) {
  #tabs-story .field-collection-container{
    margin-top: 80px;
 
  }
}
#tabs-story .field-collection-container .field-collection-view {
  float:left;
  display: block;
  width:100%;
  clear: both;
  margin-bottom: 40px;
 
}
#tabs-story .field-collection-container .field-collection-view .place_image{
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  #tabs-story .field-collection-container .field-collection-view .place_image {
    float: left;
    display: block;
    width: 40%;
 
  }
 
  #tabs-story .field-collection-container .field-collection-view .place_content {
    float: left;
    display: block;
    width: 60%;
    padding: 15px 0 15px 25px;
 
  }
 
  #tabs-story .field-collection-container .field-collection-view:nth-child(even) .place_image,
  #tabs-story .field-collection-container .field-collection-view:nth-child(even) .place_content {
    float: right;
  }
 
  #tabs-story .field-collection-container .field-collection-view:nth-child(even) .place_content {
    padding: 15px 25px 15px 0px;
  }
}
#tabs-story .field-collection-container .field-collection-view .place_content h3{
  font-size: 2.6rem;
  margin-bottom: 20px;
  font-weight: 400;
  font-family: 'Arapey', serif;
}
 
 
.total-days-4.progressbar span.tabs-2.active-tab:before{
  background-position: 40% 0;
}
.total-days-4.progressbar span.tabs-2.active-tab:after{
  width: 60%;
}
.total-days-4.progressbar span.tabs-3.active-tab:before{
  background-position: 61% 0;
}
.total-days-4.progressbar span.tabs-3.active-tab:after{
  width: 40%;
}
 
 
.total-days-5.progressbar span.tabs-2.active-tab:before{
  background-position: 25% 0;
}
.total-days-5.progressbar span.tabs-2.active-tab:after{
  width: 71%;
}
.total-days-5.progressbar span.tabs-4.active-tab:before{
  background-position: 75% 0;
}
.total-days-5.progressbar span.tabs-4.active-tab:after{
  width: 29%;
}
 
/* ----- PROGRESS BAR ANIMATION ---- */
.progressbar span.tabs-1:before{
  animation: none;
}
.progressbar span.active-tab:before{
  animation: animationFrames linear 0.7s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames linear 0.7s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames linear 0.7s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames linear 0.7s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames linear 0.7s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -webkit-transition: all 3000ms ease-in-out;
  -moz-transition: all 3000ms ease-in-out;
  -ms-transition: all 3000ms ease-in-out;
  -o-transition: all 3000ms ease-in-out;
  transition: all 3000ms ease-in-out;
}
 
@keyframes animationFrames{
  0% {
    transform:  translate(-173px,1px)  scaleX(0.00) scaleY(0.00) ;
  }
  100% {
    transform:  translate(-49px,0px)  scaleX(1.00) scaleY(1.00) ;
  }
}
 
@-moz-keyframes animationFrames{
  0% {
    -moz-transform:  translate(-173px,1px)  scaleX(0.00) scaleY(0.00) ;
  }
  100% {
    -moz-transform:  translate(-49px,0px)  scaleX(1.00) scaleY(1.00) ;
  }
}
 
@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform:  translate(-173px,1px)  scaleX(0.00) scaleY(0.00) ;
  }
  100% {
    -webkit-transform:  translate(-49px,0px)  scaleX(1.00) scaleY(1.00) ;
  }
}
 
@-o-keyframes animationFrames {
  0% {
    -o-transform:  translate(-173px,1px)  scaleX(0.00) scaleY(0.00) ;
  }
  100% {
    -o-transform:  translate(-49px,0px)  scaleX(1.00) scaleY(1.00) ;
  }
}
 
@-ms-keyframes animationFrames {
  0% {
    -ms-transform:  translate(-173px,1px)  scaleX(0.00) scaleY(0.00) ;
  }
  100% {
    -ms-transform:  translate(-49px,0px)  scaleX(1.00) scaleY(1.00) ;
  }
}
 
 
/*///////////////////////////////////////////////
  STORY TELLING PRODUCT LISTING
///////////////////////////////////////////////*/
section.content-widget.story-product-listing{
  overflow: visible;
  padding: 20px 20px 20px;
}
.story-product-listing ul{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.story-product-listing ul:not(.woodmark){
  margin:0;
}
.story-product-listing ul li {
  margin: 0 0 10px 0;
  padding:0 10px;
  width: 100%;
  overflow: hidden;
}
@media only screen and (min-width: 480px) {
  .story-product-listing ul li {
    margin: 0 0 20px 0;
 
  }
  .story-product-listing ul li:nth-of-type(2n) {
    margin-right: 0;
  }
 
}
@media only screen and (min-width: 720px) {
 
  .story-product-listing ul li:nth-of-type(2n) {
    margin-right: 0px;
 
  }
  .story-product-listing ul li:nth-of-type(3n) {
    margin-right: 0;
 
  }
}
.story-product-listing ul li article,
.story-product-listing .owl-item li{
 
 
  padding: 0;
}
.story-product-listing ul li article{
  position: relative;
}
.story-product-listing ul li picture{
 
  z-index: 1;
  width: 100%;
}
.story-product-listing ul li img{
  height: inherit;
  z-index: 1;
}
.story-product-listing ul li .info{
  height: 100%;
  top: 0;
  width: 100%;
  position: absolute;
 
 
 
 
 
  z-index: 2;
  padding: 0px;
  background: url("../images/shadow.png") repeat-x 0 bottom;
  -webkit-transition: background 400ms ease-in;
  -moz-transition: background 400ms ease-in;
  -ms-transition: background 400ms ease-in;
  -o-transition: background 400ms ease-in;
  transition: background 400ms ease-in;
  margin: 0;
}
.story-product-listing ul li .info a{
  color: #FFFFFF;
  font-size: 2rem;
  text-align: center;
  display: block;
  position: absolute;
  width: 100%;
  bottom: 45px;
  padding:0 20px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  transition: all 600ms ease-in-out;
}
.desc-story{
  position: absolute;
  top:10px;
  opacity: 0;
  color: #FFFFFF;
  width: 100%;
  padding:0 20px;
  font-size: 1.5rem;
  text-align: center;
  transition: all 600ms ease-in-out;
  -webkit-transform: translateY(400px);
  -ms-transform: translateY(400px);
  transform: translateY(400px);
}
.story-product-listing ul li .info:hover,
.story-product-listing ul li .info:focus{
  background-color: rgba(0,0,0,0.6);
 
 
}
.story-product-listing ul li .info:hover .desc-story,
.story-product-listing ul li .info:focus .desc-story{
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.story-product-listing ul li .info:hover a,
.story-product-listing ul li .info:focus a {
  bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .desc-story {
    top: 20px;
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 600px) {
  .story-body {
    font-size: 1.6rem;
    display: inline-block;
    width: 70%;
    width: calc(100% - 220px);
 
 
 
 
 
 
  }
 
  .story-sidebar {
    float: right;
    display: inline-block;
    width: 200px;
    vertical-align: top;
  }
 
 
 
}
.story-sidebar .story_item{
  padding: 15px 10px 15px 80px;
  background-image: url("../images/story-details-sprite.png");
  background-repeat: no-repeat;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  border-bottom: 1px dashed #000;
}
 
.story-sidebar .story_item.story_duration{
  background-position: 20px 15px;
  border-top: 1px dashed #000;
}
.story-sidebar .story_item.story_distance{
  background-position: 20px -44px;
}
.story-sidebar .story_item.story_type{
  background-position: 20px -105px;
}
 
/*---- Image Tiles Widget for Story Telling Template -------*/
 
.story-owl .owl-dots {
  margin-top: 25px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.story-owl .owl-dot {
  display: inline-block;
  zoom: 1;
}
.story-owl .owl-dot span {
  width: 13px;
  height: 13px;
  margin: 5px;
  background: #FFF;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid #0B6B96;
}
.story-owl .owl-dot.active span{
  background: #0B6B96;
 
 
 
 
 
}
.story-owl .owl-carousel .owl-nav{
  display: none;
 
}
@media only screen and (min-width: 600px) {
  .story-owl .owl-carousel .owl-nav{
    display: block;
  }
}
.story-owl .owl-carousel .owl-nav .owl-next,
.story-owl .owl-carousel .owl-nav .owl-prev{
  top:40%;
  position: absolute;
}
.story-owl .owl-carousel .owl-nav .owl-prev{
  left:-20px;
}
.story-owl .owl-carousel .owl-nav .owl-next{
  right:-20px;
}
.story-owl .owl-carousel .owl-nav i.fa{
  font-size: 3.8rem;
  margin: 0;
  color:#10a1cc;
  padding: 0;
}
.story-owl .owl-carousel .owl-nav i.fa:hover,
.story-owl .owl-carousel .owl-nav i.fa:focus{
  background: transparent;
}
.story-tiles .owl-item li{
  position: relative;
}
section.content-widget.story-tiles ul{
  min-width: 100%;
  margin: 0;
  position: relative;
}
section.content-widget.story-tiles picture {
  z-index: 1;
  width: 100%;
  height: 100%;
}
section.content-widget.story-tiles picture img{
  height: inherit;
}
section.content-widget.story-tiles .info{
  height: 100%;
  top: 0;
  width: 100%;
  position: absolute;
  z-index: 2;
  padding: 0px;
  background: url("../images/shadow.png") repeat-x 0 bottom;
  -webkit-transition: background 400ms ease-in;
  -moz-transition: background 400ms ease-in;
  -ms-transition: background 400ms ease-in;
  -o-transition: background 400ms ease-in;
  transition: background 400ms ease-in;
  margin: 0;
}
section.content-widget.story-tiles .info h3 a{
  color: #FFFFFF;
  font-size: 2rem;
  text-align: center;
  display: block;
  position: absolute;
  width: 100%;
  bottom: 50px;
  padding:0 20px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  transition: all 600ms ease-in-out;
}
section.content-widget.story-tiles .story-details-widget{
  position: absolute;
  bottom:20px;
  opacity: 0.7;
  color: #FFFFFF;
  width: 100%;
  padding:0 20px;
  font-size: 1.8rem;
  text-align: center;
  transition: all 600ms ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-content: space-around;
  font-size: 1.5rem;
  font-family: Oswald, sans-serif;
}
@media only screen and (min-width: 768px) and (max-width: 1099px) {
  section.content-widget.story-tiles .story-details-widget{
    font-size: 1.3rem;
  }
 
}
section.content-widget.story-tiles .story-details-widget span{
  padding-left:25px;
  background-image: url("../images/story-details-sprite.png");
  background-repeat: no-repeat;
 
}
section.content-widget.story-tiles .story-details-widget span.story-details-item-duration{
  background-position: 0 -161px;
}
section.content-widget.story-tiles .story-details-widget span.story-details-item-distance{
  background-position: 0 -184px;
}
section.content-widget.story-tiles .story-details-widget span.story-details-item-type{
  background-position: left bottom;
}
section.content-widget.story-tiles .info:hover,
section.content-widget.story-tiles .info:focus{
  background-color: rgba(0,0,0,0.6);
 
 
}
section.content-widget.story-tiles .info:hover .story-details-widget,
section.content-widget.story-tiles .info:focus .story-details-widget{
  opacity: 1;
  bottom:25px;
}
section.content-widget.story-tiles .info:hover h3 a,
section.content-widget.story-tiles .info:focus h3 a {
  bottom: 60px;
}
section.content-widget.owl-full-width{
  padding: 20px 0;
}
.view-mode-story_telling section.content-widget,
.view-mode-story_telling .field-collection-container {
  border-bottom: 0px solid #D3D7D9;
  margin-bottom: 0em;
}
.view-mode-story_telling section.content-widget{
  margin-bottom: 0px;
  overflow: inherit;
}
.story-deals .deal-wrapper{
  margin: 80px auto;
  width:90%;
  padding:0 10px;
  border: 1px solid #00A6C7;
}
.story-deals .deal-wrapper .image img{
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
 
.story-deals .deal-wrapper:hover .image img{
  -webkit-transform:scale(1);
  transform:scale(1);
}
.story-deals .deal-wrapper .image{
  width:80%;
  margin: 0 auto;
  margin-top: -40px;
  overflow:hidden;
}
.story-deals .deal-wrapper h3 a {
  color: #333333;
  font-size: 1.8rem;
  margin: 20px 0;
  display: block;
  text-align: center;
  line-height: 1
}
.story-deals .deal-wrapper .button{
  display: inline-block;
  margin: 0 auto;
  width: auto;
  font-size:14px;
  padding: 12px 45px;
  position: relative;
  font-weight: 100;
  letter-spacing: 0;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.4);
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.4);
}
.deals-body{
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.deals-link{
  position: relative;
  margin-bottom: -15px;
  text-align: center;
  width: 100%;
}
.view-mode-story_telling section.content-widget>h2{
  text-align: center;
  font-size: 2rem;
}
@media only screen and (min-width: 600px) {
 
  .story-deals .deal-wrapper{
    width:85%;
    padding:0 20px;
  }
  .story-deals>h2{
    margin-bottom: 105px;
  }
  .story-deals .deal-wrapper .image{
    margin-top: -80px;
 
  }
  .story-deals .deal-wrapper h3 a{
    font-size: 2.2rem;
    margin: 30px 0;
  }
  .story-deals .deal-wrapper .button{
    font-size: 18px;
 
  }
  .deals-body{
    margin-bottom: 30px;
  }
 
}
@media only screen and (min-width: 768px) {
  .view-mode-story_telling section.content-widget>h2{
    font-size: 2.6rem;
    line-height: 1;
  }
  .story-deals .deal-wrapper{
    width:85%;
    padding:0 30px;
  }
 
  .deals-body{
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1024px) {
  .view-mode-story_telling section.content-widget>h2{
    font-size: 3.2rem;
  }
  .story-deals .deal-wrapper{
    width:85%;
    padding:0 40px;
  }
  .story-deals>h2{
    margin-bottom: 135px;
  }
  .story-deals .deal-wrapper .image{
    margin-top: -110px;
  }
  .deals-body{
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  .story-deals>h2{
    margin-bottom: 175px;
  }
  .story-deals .deal-wrapper .image{
    margin-top: -110px;
  }
}
#full-gallery figure img{
  width:auto;
  display: inline-block;
}
#full-gallery figcaption {
  bottom: 0;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.2;
  padding: 1.5rem 1.5rem 1.5rem 6.5rem;
  position: absolute;
  text-align: left;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  background:transparent url("../images/shadow.png") repeat-x 0 0;
}
@media only screen and (min-width: 600px) {
  #full-gallery figcaption {
    font-size: 2rem;
    line-height: 1.4;
  }
}
@media only screen and (min-width: 768px) {
  #full-gallery figcaption {
    font-size: 2.5rem;
    line-height: 1.6;
  }
}
#full-gallery .owl-nav {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
#full-gallery .owl-prev,
#full-gallery .owl-next {
  align-items: center;
  background: rgba(0, 0, 0, 0.0);
  color: #fff;
  display: flex;
  display: -webkit-flex;
  height: 100%;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 40px;
}
#full-gallery .owl-nav .fa{
  font-size: 4.5rem;
  background: transparent;
}
#full-gallery .owl-next {
  right: 0;
}
#full-gallery .owl-dots {
  counter-reset: slides-num; /* Initialize counter. */
  position: absolute;
  top: 100%;
  left: 10px;
  margin-top: -50px;
 
}
@media only screen and (min-width: 600px) {
  #full-gallery .owl-nav .fa{
    font-size: 6rem;
  }
  #full-gallery .owl-dots {
    margin-top: -60px;
  }
}
#full-gallery .owl-dots:after {
  content:" / " counter(slides-num); /* get total number of items - more info on http://www.sitepoint.com/a-little-known-way-to-replace-some-scripts-with-css-counters/ */
  display: inline-block;
  color: #fff;
  font-size: 2rem;
  padding-top: 10px;
}
 
 
#full-gallery .owl-dots .owl-dot {
  display: inline-block;
  counter-increment: slides-num; /* Increment counter */
  margin-right: 7px;
}
 
#full-gallery .owl-dots .owl-dot span {
  display: none;
}
 
 
#full-gallery .owl-dots .owl-dot.active:before {
  content:  counter(slides-num); /* Use the same counter to get current item. */
  display: inline-block;
  color: #fff;
  font-size: 3rem;
  position: absolute;
  left: 0;
  top: 0;
}
.view-mode-story_telling section.content-widget.story-deals {
  margin-bottom: 50px;
}
@media only screen and (min-width: 1200px) {
  .page-node-28801 #main{
    max-width: 100%;
  }
  .view-mode-story_telling section.content-widget,
  .page-node-28801 #main h1{
    margin: 0 auto;
    max-width: 1140px;
    position: relative;
  }
  .page-node-28801 .messages{
    display: none;
  }
  .view-mode-story_telling section.content-widget{
    margin-bottom: 50px;
 
  }
  .view-mode-story_telling section.content-widget.story-deals {
    margin-bottom: 70px;
  }
  #full-gallery figcaption #info{
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
  }
  #full-gallery .owl-dots {
    position: relative;
    top: 100%;
    left: 0;
    padding-left: 5px;
    margin-top: -60px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
  #full-gallery .owl-dots .owl-dot.active:before {
    font-size: 5rem;
    left: 0;
    top: -25px;
  }
  #full-gallery .owl-dots:after {
    font-size: 3rem;
    padding-top: 0;
    margin-left: 10px;
  }
  #full-gallery figcaption {
    padding: 1.5rem 1.5rem 1.5rem 8.5rem;
  }
  .view-mode-story_telling section.content-widget.owl-full-width{
    max-width: 100%;
  }
  .view-mode-story_telling section.content-widget.story-tiles{
    max-width: 90%;
  }
 .story-owl .owl-carousel .owl-nav .owl-prev {
    left: -4%;
  }
  .story-owl .owl-carousel .owl-nav .owl-next {
    right: -4%;
  }
  .story-owl .owl-carousel .owl-nav i.fa {
    font-size: 6rem;
  }
}
/* SHARE BUTTONS OVERWRITE */
.a2a_svg {
  height: 36px  !important;
  line-height: 36px  !important;
  width: 36px  !important;
  background-repeat: no-repeat !important;
  margin-right: 8px;
}
.a2a_svg {
  background-image: url('../images/share.png') !important;
}
.a2a_s_facebook{
  background-position: 0 0 !important;
}
.a2a_s_twitter{
  background-position: -45px 0 !important;
}
.a2a_s_google_plus{
  background-position: -91px 0 !important;
}
.a2a_s_email{
  background-position: -137px 0 !important;
}
 
/* ITINERARY STORY TELLING */
.view-mode-story_telling #product-map>header{
  display: none;
}
.view-mode-story_telling section.content-widget.itinerary {
  max-width: 100%;
  padding: 0;
 
}
@media only screen and (min-width: 1200px) {
  .view-mode-story_telling section.content-widget.itinerary {
    max-width: 100%;
    padding: 0;
  }
 
 
}